*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: rgb(236, 240, 241);
}

header{
	background-color: #2980B9;
	min-height: 60px;
}

.logo{
	background-image: url("vit.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	display: inline-block;
	width: 20%;
	text-align: right;
	margin-left: 20px;
	vertical-align: middle;
}

.brand{

display: inline-block;
width: 60%;
text-align: right;
font-size: 1.8em;
color: white;
height: 70px;


}

section{
	background-color: white;
	min-height: 100px;
	min-width: 200px;
	margin: 50px auto;
	max-width: 500px;
	text-align: center;
	border-top: 5px solid #00bfff;
}
#login{
	font-size: 1.3em;
	margin: 20px;
	text-align: left;
}
input{
	width: 90%;
	height:30px;
	margin: 10px;
}
.button{
	float:right;
	width: 80px;
	clear: both;
}

.button:hover{
	cursor: pointer;
}

table{
	width: 80%;
}
td{
text-align: center;
}